<div class="container">
  <legend>Boletas</legend>
  <div class="form-inline">
  </div>
  <table class="table table-striped table-hover">
      <tr>Estado de Reparación: <th><input class="form-control" type="text"[(ngModel)]="current_boleta.estado_reparacion"></th>
      </tr>
      <tr>Fecha de Ingreso:
        <th><input class="form-control" type="text"[(ngModel)]="current_boleta.fecha_ingreso"></th>
      </tr>
      <tr>Apellido</tr>
      <tr>Teléfono</tr>
      <tr>Dirección</tr>
    <tr *ngFor="let row of data">
      <td>{{row.cedula}}</td>
      <td>{{row.nombre}}</td>
      <td>{{row.apellido}}</td>
      <td>{{row.telefono}}</td>
      <td>{{row.direccion}}</td>
      <td class="text-right">
        <div *ngIf="!row.confirm">
          <button class="btn btn-warning" (click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true"></i></button>
          <a [routerLink]="['/clientes/', row.id]" class="btn btn-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </div>
        <div *ngIf="row.confirm">
          <button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
          <button class="btn btn-success" (click)="delete(row.id)">Confirm</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="data.length == 0">
      <td colspan="5" class="text-center">No data available</td>
    </tr>
  </table>
</div>
