<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Angular App</a>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/clientes">Cliente</a>
      </li>
        <li routerLinkActive="active">
        <a routerLink="/boletas">Boletas</a>
      </li>

      <li routerLinkActive="active">
        <a routerLink="/repuestos">Repuesto</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/estados">Estado</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
