<div class="container">
  <legend>Boleta</legend>
    <a [routerLink]="['/boleta-crud/cliente.detail.component.html']"  aria-hidden="true">
        <button class="btn btn-success"(click)="crud_operation.is_visible = false">
       Nueva boleta
    </button>
     </a>
  <div class="form-inline" *ngIf="crud_operation.is_visible">
    <label>Estado de reparación:</label>
    <input class="form-control" type="text" placeholder="" [(ngModel)]="current_boleta.estado_reparacion">
    <label>Fecha de ingreso</label>
    <input class="form-control" type="text" placeholder="" [(ngModel)]="current_boleta.fecha_ingreso">
    <button class="btn btn-primary"(click)="save()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
      Save
    </button>
    <button class="btn btn-default"(click)="crud_operation.is_visible = false">
      <i class="fa fa-ban" aria-hidden="true"></i>
      Cancel
    </button>
    </div>

  <table class="table table-striped table-hover">
    <tr>
      <th>Estado de reparación</th>
      <th>Cliente</th>
      <th>Equipo</th>
      <th class="text-right">
        <button class="btn btn-info" (click)="ngOnInit()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
      </th>
    </tr>
    <tr *ngFor="let row of data">
      <td>{{row.descripcion}}</td>
      <td class="text-right">
        <div *ngIf="!row.confirm">
          <button class="btn btn-warning" (click)="edit(row)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
          <button class="btn btn-danger" (click)="row.confirm = true"><i class="fa fa-times" aria-hidden="true"></i></button>
          <a [routerLink]="['/home/', row.id]" class="btn btn-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </div>
        <div *ngIf="row.confirm">
          <button class="btn btn-danger" (click)="row.confirm = false">Cancel</button>
          <button class="btn btn-success" (click)="delete(row.id)">Confirm</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="data.length == 0">
      <td colspan="3" class="text-center">No data available</td>
    </tr>
  </table>
</div>

