<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    {{cliente.nombre}}
    <a class="pull-right" routerLink="/boletas">
      Back
    </a>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Cedúla</th>
        <td>{{cliente.cedula}}</td>
      </tr>
      <tr>
        <th>Apellido</th>
        <td>{{cliente.apellido}}</td>
      </tr>
      <tr>
        <th>Teléfono</th>
        <td>{{cliente.telefono}}</td>
      </tr>
      <tr>
        <th>Dirección</th>
        <td>{{cliente.direccion}}</td>
      </tr>
    </table>
  </div>
</div>
