<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    {{user.name}}
    <a class="pull-right" routerLink="/users">
      Back
    </a>
  </div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Email</th>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <th>Activo</th>
        <td>{{user.activo}}</td>
      </tr>
    </table>
  </div>
</div>
